@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: local('fonts/HelveticaNeue-Bold.otf'), url('fonts/HelveticaNeue-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: local('fonts/HelveticaNeue-Thin.otf'), url('fonts/HelveticaNeue-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue-Italic';
    src: local('fonts/HelveticaNeue-Thin.otf'), url('fonts/HelveticaNeue-Italic.otf') format('opentype');
}
.linkblack,.linkblack:hover{
    color: #1282BE;
    text-decoration: underline
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.w80 {
    width: 80%;
}

.boton-blanco {
    border: 2px solid;
    font-size: .7rem;
    padding: .7rem;
}

.boton-azul {
    background: #1282BE;
    color: white;
    font-size: .7rem;
    padding: .7rem;
}

.boton-blanco {
    border: 2px solid;
}

.home {
    background-image: url(./assets/fondo_1.png);
    background-position-y: 0rem;
    height: 15rem;
}


.container-info {
    padding: 1rem;
    padding-top: 9rem;
    text-align: center;
}

.space-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.botontop {
    width: 40%;
}

.onlyMinus {
    background: #1282BE url(./assets/minus-symbol.png);
    background-position-x: 0.22rem;
    background-position-y: 0.2rem;
    background-repeat: no-repeat;
    background-size: 0.8rem;
}

.onlyPlus {
    background: #1282BE url(./assets/plus-black-symbol.png);
    background-position-x: 0.22rem;
    background-position-y: 0.2rem;
    background-repeat: no-repeat;
    background-size: 0.8rem;
}

.plusOrMin {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 2pc;
    color: white;
}

.body-preg p {
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'HelveticaNeue-Thin';
    text-align: justify
}

.body-preg {
    display: none;
}

.blockPreg {
    display: block;
}

.listnone {
    list-style-type: none;
}

.container-preg {
    width: 100%;
    display: block;
}

.displayNone {
    display: none;
}

h2 {
    font-size: 1.3rem;
}

.body-preg ul {
    padding-left: 0%;
    font-family: 'HelveticaNeue-Thin';
    font-size: 1rem;
    
}

.body-preg p,
.body-preg ul {
    font-size: 0.9rem;
    text-align: justify;
}

.vw100 {
    width: 100%
}

.fondo {
    height: auto;
    background: white;
    height: auto;
}

.fila {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.head-preg h2 {
    font-family: 'HelveticaNeue-Bold';
    font-size: 1rem;
    width: 85%;
    padding-top: .5rem;
}

.head-preg {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.p_5 {
    padding: .5rem;
}

.pt-5-xs {
    padding-top: 1rem !important
}

a:hover,
a {
    color: #0056b300;
    text-decoration: none;
}

.space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media (min-width: 767px) {
    .p-foo {
        text-align: left !important;
    }
    .boton-blanco,
    .boton-azul {
        font-size: 1.3rem;
        padding: 1.2rem;
    }
    .plusOrMin {
        height: 2rem;
        width: 2rem;
        border-radius: 2pc;
        color: white;
    }
    .onlyPlus {
        background: #1282BE url(./assets/plus-black-symbol.png);
        background-position-x: 0.4rem;
        background-position-y: 0.4rem;
        background-repeat: no-repeat;
        background-size: 1.2rem;
    }
    .onlyMinus {
        background: #1282BE url(./assets/minus-symbol.png);
        background-position-x: 0.4rem;
        background-position-y: 0.4rem;
        background-repeat: no-repeat;
        background-size: 1.2rem;
    }
    .container-info {
        padding: 4rem;
        padding-top: 15rem
    }
    .head-preg h2 {
        font-size: 1.5rem;
        width: 94%;
        padding-left: 1.5rem;
        /* padding-left: 1.5rem;
        padding-top: .5rem; */
    }
    .container-preg {
        width: 80%;
    }
    .fondo {
        background-image: url(./assets/fondo3-otro.svg);
        background-size: cover;
        height: auto;
        background-repeat: no-repeat
    }
    .each-preg {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .body-preg p {
        font-size: 1.5rem !important;
        text-align: justify;
        padding-left: 4rem;
        font-family: 'HelveticaNeue-Thin';
    }
    .displayNone {
        display: none;
    }

    .home {
    background-image: url(./assets/cortado.png);
    background-position-y: 0rem;
    height: auto;
    background-size: cover;
    background-position: center;
    }
    .body-preg ul {
        padding-left: 4rem;
        font-family: 'HelveticaNeue-Thin';
        font-size: 1.5rem;
    }
    .cont{
        padding-bottom: 3rem;
    }
}